body {
    color: black;
    text-align: center;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(228, 227, 227);
  }
  .login-page {
    width: 360px;
    margin: auto;
  }
  .tallas-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    gap: 1px; /* Espacio entre los inputs */
    justify-content: flex-start; /* Alinea los elementos al inicio */
  }
  
  .talla-item p {
    font-size: 16px; /* Aumenta el tamaño de la fuente */
    margin-bottom: 5px; /* Añade espacio entre el texto y el input */
    font-weight: bold; /* Resalta el texto */
  }
  
  .talla-item {
    width: calc(33.33% - 10px); /* Establece el ancho para que quepan 3 elementos por fila */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; /* Añade un margen inferior para separar las filas */
  }

  .talla-item input {
    width: 80px; /* Ajusta el ancho del input según sea necesario */
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  @media (max-width: 480px) {
    .espacio {
      margin-top: 130px;
    }
  }
  
  /* Ajustes específicos para dispositivos móviles */
  @media (max-width: 768px) {
    .cart {
      top: 40px; /* Ajusta según sea necesario para que se vea bien en móvil */
      right: 90px; /* Ajusta según sea necesario para que se vea bien en móvil */
    }
    .espacio {
      margin-top: 150px;
    }
  }
  .form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 800px; /* Aumenta el ancho máximo aquí */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(3, 3, 3, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(0, 153, 255);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #0e0e0e;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    color: #000;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button:hover,
  .form button:active,
  .form button:focus {
    background: rgb(2, 126, 209);
  }
  
  .container:before,
  .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .espacio {
    margin-top: 120px;
  }
  .card-img-top {
    width: 100%;
    height: 200px;
  }
  
  .cantidad-input {
    width: 60px; /* Ajusta el tamaño del input */
    text-align: center; /* Centra el texto dentro del input */
    display: inline-block; /* Asegura que el input se comporte como un inline-block para el centrado */
  }
  .cantidad-label {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .cantidad-container {
    text-align: center;
    margin-bottom: 1rem; /* Añade espacio debajo del contenedor */
  }