@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  color: black;
  text-align: center;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: rgb(228, 227, 227);
  }
  .espacio{
    padding-top: 120px;
    padding-left: 5px;
  }
  * {
    box-sizing: border-box;
  }
  h2 {
    margin-top: 0;
    padding-top: 20px; /* Si quieres un poco de espacio, ajusta el valor */
  }
  header {
    margin-bottom: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
/* Asegúrate de que el carrito esté posicionado en la parte superior derecha */
.cart {
  position: fixed;
  top: 130px;
  right: 50px;
  z-index: 2000; /* Un valor mayor para asegurarse de que se superpone a otros elementos */
}

.cart .notification {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

  .btn-agregar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056b3; 
    color: white; 
    text-align: center;
    text-decoration: none; 
    font-weight: bold;
    border-radius: 4px; 
    transition: background-color 0.3s; 
  }
  .btn-agregar:hover {
    background-color: #003d80; /* Color de fondo azul más oscuro al pasar el ratón */
  }
.Precio{
    color: #02539B;
    font-weight: bold;
}
.boton:hover {
    cursor: pointer;
    background-color: #fcc203;
}
.product-details h5, .product-details p {
    font-weight: bold;
    margin: 0;
  }

  .quantity-control p, .total-price p {
    margin: 0;
    font-size: 0.875rem;
  }

  .text-center p {
    margin: 0;
  }